#app {
	position: relative;
	width: 100vw;
	height: 100vh;
	font-family: "微软雅黑 Bold", "微软雅黑 Regular", "微软雅黑", sans-serif;
}

/* flex */
.flx-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flx-justify-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* nprogress */
#nprogress .bar {
	background: var(--el-color-primary) !important;
}

#nprogress .spinner-icon {
	border-top-color: var(--el-color-primary) !important;
	border-left-color: var(--el-color-primary) !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
}

/* layout */
.el-container {
	width: 100%;
	height: 100%;

	.el-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 45px;
		background-color: var(--base-color);
		border-bottom: 1px solid var(--el-border-color-light);
	}

	.el-main {
		padding: 0;
		overflow: hidden;
		background-color: var(--base-bg);
	}

	.el-footer {
		height: auto;
		padding: 0;
	}

	.el-aside {
		background-color: var(--base-color);
	}
}

.el-menu-item.is-active::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 4px;
	background-color: var(--el-color-primary);
	content: "";
}

.el-table th.el-table__cell {
	background-color: var(--base-color) !important;
}

/* 提示文字 */
.placeholder {
	color: var(--el-text-color-placeholder);
}

/* 超出显示滚动条 */
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 链接 */
.link {
	&:hover {
		color: var(--el-color-primary);
		cursor: pointer;
	}
}

/* 卡片 */
.card {
	padding: 20px;
	overflow: hidden;
	background-color: var(--el-bg-color);
	border-radius: 6px;
	box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}
