* {
	font-size: 14px;
	box-sizing: border-box;
	user-select: none;
}

body {
	padding: 0;
	margin: 0;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
}

a {
	color: var(--el-text-color-regular);
	text-decoration: none;

	&:hover {
		color: var(--el-color-primary);
	}
}

ul,
ol,
li {
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

/* scroll bar */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--el-border-color-darker);
	border-radius: 20px;
}
