.placeholder {
	color: var(--el-text-color-placeholder);
}

.link {
	&:hover {
		color: var(--el-color-primary);
		cursor: pointer;
	}
}

:root {
	--base-bg: #f3f8fb;
	--base-color: #fff;
}

.dark {
	--base-bg: #00010f;
	--base-color: #1e2a3a;
}
