.placeholder {
	color: var(--el-text-color-placeholder);
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.link {
	&:hover {
		color: var(--el-color-primary);
		cursor: pointer;
	}
}

:root {
	--base-bg: #f0f1f3;
	--base-color: #fff;
}

.dark {
	--base-bg: #1c1c1c;
	--base-color: #141414;
}
